*,
*::before,
*::after {
	box-sizing: border-box;
}
.navbar {
	background-color: firebrick;
	/* position: fixed;
	top: 0;
	width: 100%; */
}
#navbar-brand {
	color: white;
	font-weight: 700;
}
#navbar-text {
	color: white;
}
#button {
	color: white;
	background-color: #0d6efd;
}
